*{
    margin:0px;
    padding:0px;
    font-family: arial;
}

body{
	background-image: url(image1.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
	
}

p{
    margin: 10px 0px;
    text-align: center;
    margin-top: 25px;
}

.box{
	width: 400px;
	height: 200px;
	margin:170px auto;
    
    
    text-align: center;
}

.box h1{
    
    text-align: center;
    margin: 5px 0p;
}


#myButton{
    background-color: grey;
    border: 3px solid white;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 30px;
    width: 100px;
    margin-top: 25px;
    color:white;
}

#myButton1{
    background-color: grey;
    border: 3px solid white;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 30px;
    width: 150px;
    margin-top: 25px;
    color:white;
}
.lastmsg{
  font-weight:bold;
  font-family:monospace;
  font-size:x-large;
  background-color: #ffffffa6;
  width: 420px;
  border: 10px solid #1703018a;
  padding: 30px;
  margin-left:-5%;
  margin-top:-1%;
  text-align:center;

}
